<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicío - Cinema Paradise</title>
  </head>
  <body>
    <h1><b>Cinema Paradise: Seja bem-vindo</b></h1>
    <h2>Por: Hebert Vinícius Santos Rêgo</h2>
    <p>Funções do Sistema:</p>
    <ul>
      <li style="list-style-type: none">
        <a href="/lista_filmes">Lista de Filmes</a>
      </li>
      <li style="list-style-type: none">
        <a href="/lista_locacao">Lista de Todas as Locações</a>
      </li>
    </ul>
  </body>
</html>
