<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locação - Cinema Paradise</title>
  </head>
  <body>
    <h1>Nossas Locações</h1>
    <ul>
        {% for locacao in locacoes %} 
        <li style="list-style-type: none">
            <hr>
            <p>Nome: {{locacao.nome}}</p> 
            <p>Data: {{locacao.data}}</p> 
            <p>Cliente: {{locacao.cliente}}</p> 
            <hr>
        </li>
        {% endfor %}
    </li>
  </body>
</html>
